.contact-from-section
{
    background-color: #fff;
    padding-top: 60px;
}

.top-header-area {
    background-color: #066c9c !important;
    padding: 5px 0;
}
/** Button style **/

.theme-btn,
a.theme-btn {
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 700;
    text-align: center;
    padding: 12px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--heading-color);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: capitalize;
    background: #066c9c; }
.theme-btn i,
a.theme-btn i {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px; }
.theme-btn:after,
a.theme-btn:after {
    content: '';
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    position: absolute;
    background: var(--primary-color);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
.theme-btn:hover,
a.theme-btn:hover {
    color: white; }
.theme-btn:hover:after,
a.theme-btn:hover:after {
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0); }
.theme-btn:hover i,
a.theme-btn:hover i {
    margin-left: 13px;
    margin-right: -3px; }
.theme-btn.style-two,
a.theme-btn.style-two {
    color: white;
    background: #066c9c ;
    border: 0 ;
}
.theme-btn.style-two:after,
a.theme-btn.style-two:after {
    background:#066c9c; }
.theme-btn.style-two:hover,
a.theme-btn.style-two:hover {
    color:#fff ;
    background-color:#ffb028 !important;

}
.theme-btn.style-three,
a.theme-btn.style-three {
    color: white;
    background: #066c9c; }
.theme-btn.style-three:after,
a.theme-btn.style-three:after {
    background: var(--heading-color); }
.theme-btn.style-four,
a.theme-btn.style-four {
    color: var(--heading-color);
    background: transparent;
    border: 1px solid var(--border-color); }
.theme-btn.style-four:not(:hover):after,
a.theme-btn.style-four:not(:hover):after {
    background: transparent; }
@media only screen and (max-width: 575px) {
    .theme-btn,
    a.theme-btn {
        padding: 9px 25px; } }

/* Details Btn */
.details-btn {
    font-size: 22px;
    width: 70px;
    height: 70px;
    background: white;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: var(--primary-color); }
@media only screen and (max-width: 479px) {
    .details-btn {
        width: 45px;
        height: 45px;
        font-size: 16px;
        line-height: 45px; } }

/* Read More */
.read-more {
    font-weight: 500;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-transform: capitalize; }
.read-more i {
    float: right;
    font-weight: 400;
    margin-left: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.read-more:hover {
    color: #066c9c;
    text-decoration: underline; }
.read-more:hover i {
    margin-left: 10px; }
.contact-form
{
    box-shadow: 5px 5px 5px #ccc;
    padding: 30px;
    border: 1px solid #ccc;
}
@media only screen and (max-width: 700px) {

    .blog-item.style-two .blog-meta li a
    {
        font-size: 12px;
        font-weight: bold;
    }
    .blog-item.style-two .content {
        text-align: center;
    }
    .copyright p
    {
        font-size: 13px;
        font-weight: 700;
        margin: 0;
    }
    .footer-box p
    {
        margin-bottom: 20px;
    }
  
}